/asm/test
/c/test
/cpp/test
/crystal/test
/crystal/benchmark/benchmark
/crystal/bindings/test
/crystal/kemal/app
/crystal/*/lib
/go/test
/java/Test.class
/ruby/gem/pkg
/rust/test
/rust/crate/Cargo.lock
/rust/crate/target
/xslt/output.html
Gemfile.lock
shard.lock
vendor
*.o
*.a
*.so
*.elf
*.hex
*.map
*.class
*.sqlite
*.sqlite3
*.db
